.container {
    display: flex;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background:  #444444;
}

.cadastro {
    width: 80%;
    padding: 2rem;
    max-height: 400px;
    background: #303030;
    color: white;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.form-container {
    width: 100%;
    overflow-y: auto;
}

form {
    padding: 10px;
    overflow-y: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    background-color: #e2e2e2;
    border-radius: 5px;
}

select {
    background-color: #e2e2e2;
}

.buttonRegistrar {
    width: 100%;
    padding: 10px;
    background: #1d1d1d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonRegistrar:hover {
    background: #070707;
}

.error-message {
    width: 100%;
    max-width: 300px;
    background: #ff4d4d;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(255, 77, 77, 0.5);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .cadastro {
        width: 70%;
    }
}

@media (max-width: 882px) and (orientation: landscape) {
    .cadastro {
        height: 95%;
    }

    h2 {
        font-size: 1.1rem;
        word-wrap: break-word;
        margin-top: 8px;
    }

    .buttonRegistrar {
        height: 14%;
    }
}

@media (max-width: 500px) {
    .cadastro {
        width: 90%;
    }

    h2 {
        font-size: 1.1rem;
        word-wrap: break-word;
    }
}